{% extends 'base.html' %}
{% block title %}
    Caves à vins - Connexion
{% endblock %}

{% block body %}
    <h3>Connexion</h3>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            Impossible de vous connecter avec ces identifiants.
        </div>
    {% endif %}

    <form action="/login" method="post">
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' %}
                {% if field.id != "submit" %}
                    <div class="form-group mb-4">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field(class="form-control") }}
                    </div>
                {% else %}
                    <div class="form-group mb-4">
                        {{ field(class="btn btn-primary form-control") }}
                    </div>
                {% endif %}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
    </form>

   Déjà un compte ? <a href="{{ url_for("show_register_page") }}" class="text-decoration-none">Inscrivez-vous</a>


{% endblock %}