{% extends 'base.html' %}
{% block title %}
    Caves à vins - Inscription
{% endblock %}

{% block body %}
    <h3>Inscription</h3>

    {% if success %}

        <div class="alert alert-success" role="alert">
            Vous êtes bien inscrit !
        </div>

    {% endif %}

    {% if error %}

        <div class="alert alert-danger" role="alert">
            Une erreur est survenue
        </div>

    {% endif %}

    <form action="/register" method="post">
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' %}
                {% if field.id != "submit" %}
                    <div class="form-group mb-4">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field(class="form-control") }}
                    </div>
                {% else %}
                    <div class="form-group mb-4">
                        {{ field(class="btn btn-primary form-control") }}
                    </div>
                {% endif %}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
    </form>

    Pas de compte ? <a href="{{ url_for("show_login_page") }}" class="text-decoration-none">Connectez-vous</a>


{% endblock %}